<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doctors</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/feedback">Feedback</a>
            <a href="/appointment">Book Appointment</a>
            <a href="/login">Admin Login</a>
        </div>
    </nav>

    <div class="main">
        <h2>Meet Your Doctor</h2>
        <div class="doctors-list">
            {% for doctor in doctors %}
                <div class="doctor">
                    <img src="{{ url_for('static', filename='images/' + doctor.image_filename) }}" alt="{{ doctor.name }}">
                    <h2>{{ doctor.name }}</h2>
                    <p>Specialty: {{ doctor.specialty }}</p>
                </div>
            {% endfor %}
        </div>
    </div>

    <footer>
        &copy; 2024 foot decease detection system
    </footer>
</body>
</html>
